aiohttp == 3.6.3
appdirs == 1.4.4
async-timeout == 3.0.1
attrs == 20.3.0
beautifulsoup4 == 4.9.3
behave == 1.2.6
bs4 == 0.0.1
cachier == 1.2.8
certifi == 2020.12.5
chardet == 3.0.4
Click == 7.0
colorama == 0.4.4
cssselect == 1.1.0
DateTime == 4.3
discord.py == 1.6.0
fake-useragent == 0.1.11
idna == 2.8
loguru == 0.4.0
lxml
multidict == 4.7.6
packaging == 19.2
parse == 1.19.0
parse-type == 0.5.2
pip == 21.0
plumbum == 1.6.8
portalocker == 2.1.0
pyee == 8.1.0
pymongo == 3.9.0
pyparsing == 2.4.7
pyppeteer == 0.2.5
pyquery == 1.4.3
python-rex == 0.4
pytz == 2021.1
PyYAML == 5.3.1
requests
requests-html == 0.10.0
setuptools == 51.0.0
six == 1.15.0
soupsieve == 2.1
tqdm == 4.56.0
updater == 0.1.25
urllib3 == 1.25.11
w3lib == 1.22.0
watchdog == 1.0.2
websockets == 8.1
win32-setctime == 1.0.3
yarl == 1.5.1
zope.interface == 5.4.0
google